.billing-section-title {
    width: 80px;
    letter-spacing: 6px;
    color: var(--darkGreen);
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.billing-container {
    background-color: var(--white);
    border-radius: 16px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
    padding: 24px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.standard-label {
    font-size: 14px;
    color: var(--darkGreen);
    margin-bottom: 4px;
    font-weight: 600;
}

.standard-input {
    color: var(--darkGreen);
    font-size: 16px;
    font-weight: 600;
    padding: 8px;
    text-align: right;
    background-color: var(--lightGreen);
    border: none;
    border-radius: 4px;
}

.standard-input-indicator {
    position: absolute;
    bottom: 8px;
    left: 12px;
    color: var(--darkGreen);
    font-weight: 600;
}

/* ---- Tip Options ---- */
.tip-options-container {
    margin-top: 24px;
    margin-bottom: 24px;
}

.tip-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 12px;
    column-gap: 12px;
}

.tip-options button, .calculate-billing {
    font-size: 20px;
    color: var(--white);
    font-weight: 600;
    border-radius: 4px;
    border: none;
    background-color: var(--darkGreen);
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
}

.tip-options button.selected {
    background-color: var(--mediumGreen);
    color: var(--darkGreen);
}

.calculate-billing {
    width: 100%;
    margin-top: 24px;
}

/* Billing result container */
.billing-result-container {
    margin-top: 24px;
    background-color: var(--darkGreen);
    padding: 24px;
    border-radius: 16px;
}

.billing-result {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.billing-result:first-child {
    margin-bottom: 24px;
}

.billing-result-heading {
    color: var(--white);
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 4px;
}

.billing-result-sub-heading {
    color: var(--mediumGreen);
    font-size: 12px;
    font-weight: 600;
}

.billing-result-number {
    font-size: 20px;
    color: var(--lightGreen);
}

.under-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    gap: 16px;
}

.av-amount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 400px;
}

.historyList {
    border: 1px solid var(--darkGreen);
    border-radius: 5px;
    padding: 12px;
    list-style-type: none;
}

.historyList li {
    font-size: 12px;
}



@media screen and (min-width: 768px) {
    .billing-container {
        display: flex;
        justify-content: space-between;
        gap: 24px;
    }
    .billing-form {
        width: 50%;
    }
    .billing-result-container {
        width: calc(50% - 48px);
        margin-top: 0px;
    }
    .av-amount {
        flex-direction: row;
    }  
}

@media screen and (min-width: 1024px) {
    .tip-options {
        grid-template-columns: 1fr 1fr 1fr;
    }

}